<p-autoComplete
  [(ngModel)]="elementConfig.formData[elementConfig.fieldName]"
  [name]="elementConfig.fieldName"
  [id]="elementConfig.fieldName"
  [pTooltip]="elementConfig.label"
  tooltipPosition="top"
  [suggestions]="dataFiltered"
  [placeholder]="elementConfig.label"
  (completeMethod)="filterData($event)"
  field="{{ elementConfig.field }}"
  [emptyMessage]="noRecords"
  [showEmptyMessage]="true"
  [dataKey]="elementConfig.field"
  [dropdown]="true"
  [forceSelection]="false"
  (onSelect)="onItemSelect($event)"
  (onBlur)="populateEnteredData($event)"
  styleClass="custom-dd"
  [inputStyle]="style"
  (onKeyUp)="onKeyUp($event)"
  [disabled]="disabled"
  appendTo="body"
>
</p-autoComplete>
