<div class="row">
  <div class="col-12">
    <dynamic-element [elementConfig]="pageElements.warehouse"></dynamic-element>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <dynamic-element [elementConfig]="pageElements.owner"></dynamic-element>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <dynamic-element [elementConfig]="pageElements.po"></dynamic-element>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <dynamic-element
      [elementConfig]="pageElements.releaseNum"
    ></dynamic-element>
  </div>
</div>
